# venv / caches
.venv/
__pycache__/
*.pyc
*.ipynb_checkpoints/

# OS / editors
.DS_Store
.vscode/

# env / secrets
.env
*.env
**/.env
*.env.local
aller_app_mariadb/.streamlit/secrets.toml
aller_app_mariadb/.env

# builds
dist/
build/

# data (원하면 세부 폴더만)
data/
peppy-linker-475305-f1-27c22a8e81f2.json
back_up_final.sql
